<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ThreeTierSample</display-name>
  <welcome-file-list>
  	<welcome-file>QueryStudentByPage</welcome-file>
    <welcome-file>wel.jsp</welcome-file>
    <welcome-file>add.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.dzkj.student.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delStudentServlet</display-name>
    <servlet-name>delStudentServlet</servlet-name>
    <servlet-class>com.dzkj.student.servlet.delStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delStudentServlet</servlet-name>
    <url-pattern>/delStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStudentServlet</display-name>
    <servlet-name>updateStudentServlet</servlet-name>
    <servlet-class>com.dzkj.student.servlet.updateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentServlet</servlet-name>
    <url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryStudentServlet</display-name>
    <servlet-name>queryStudentServlet</servlet-name>
    <servlet-class>com.dzkj.student.servlet.queryStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryStudentServlet</servlet-name>
    <url-pattern>/queryStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryAllStudentServlet</display-name>
    <servlet-name>queryAllStudentServlet</servlet-name>
    <servlet-class>com.dzkj.student.servlet.queryAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryAllStudentServlet</servlet-name>
    <url-pattern>/queryAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStudentByPage</display-name>
    <servlet-name>QueryStudentByPage</servlet-name>
    <servlet-class>com.dzkj.student.servlet.QueryStudentByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStudentByPage</servlet-name>
    <url-pattern>/QueryStudentByPage</url-pattern>
  </servlet-mapping>
</web-app>